# dependencies
node_modules
dist

hgjgjh
# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# application specific
dist/desktop-builds
stats.json
package.list
src/secrets.ts
cypress/integration/examples